---
/*
 * Copyright (c) 2023 by MILOSZ GILGA <https://miloszgilga.pl>
 * Silesian University of Technology
 *
 *   File name: main-layout.astro
 *   Created at: 2023-08-12, 12:21:34
 *   Last updated at: 2023-08-12, 12:21:34
 *
 *   Project name: moonsphere
 *   Module name: moonsphere-landing-page
 *
 * This project is a part of "MoonSphere" instant messenger system. This system is a part of
 * completing an engineers degree in computer science at Silesian University of Technology.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at
 *
 *   <http://www.apache.org/license/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the license.
 */
import { environment } from '~/env/environment';
import { useTranslationsSSR } from '~/i18n/translations';
import { i18nSeoHref } from '~/i18n/url-parser';
import { getSafetyLocaleSSR } from '~/i18n/utils';
import Footer from '~/ax-ssr/components/Footer.astro';
import Header, { PageHeaderVariant } from '~/ax-ssr/components/Header.astro';

type AstroProps = {
  i18nPageId?: string;
  pageTitle?: string;
  headerVariant: PageHeaderVariant;
};

const { i18nPageId, pageTitle, headerVariant } = Astro.props as AstroProps;
const { locale, lang } = getSafetyLocaleSSR(Astro.url);
const t = useTranslationsSSR('msph');

const pageTitlePrefix = i18nPageId
  ? `${t(`landingPage.seo.${i18nPageId}Page.title`)} | `
  : pageTitle
  ? `${pageTitle} | `
  : '';

const { contentDistributorBaseUrl: cdnUrl, baseLandingUrl } = environment;

const faviconUrl = `${cdnUrl}/static/favicon/favicon-nobadge.png`;
const seoBannerUrl = `${cdnUrl}/static/seo/og-banner-light.png`;
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <title>{`${pageTitlePrefix}MoonSphere`}</title>
    <link rel="preconnect" href={cdnUrl} />
    <link rel="icon" type="image/png" sizes="48x48" href={faviconUrl} />
    <meta name="keywords" content={t('webCommon.metaProperty.keywords')} />
    <meta
      name="description"
      content={t('webCommon.metaProperty.description')}
    />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta name="format-detection" content="telephone=no" />
    <!-- start OpenGraph:SEO -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={i18nSeoHref(baseLandingUrl!, lang)} />
    <meta property="og:title" content="MoonSphere" />
    <meta
      property="og:description"
      content={t('webCommon.metaProperty.description')}
    />
    <meta property="og:image" content={seoBannerUrl} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={i18nSeoHref(baseLandingUrl!, lang)} />
    <meta property="twitter:title" content="MoonSphere" />
    <meta
      property="twitter:description"
      content={t('webCommon.metaProperty.description')}
    />
    <meta property="twitter:image" content={seoBannerUrl} />
    <meta name="generator" content={Astro.generator} />
    <!-- end OpenGraph:SEO -->
  </head>
  <body
    class="flex flex-col min-h-screen font-medium bg-msph-primary-light text-msph-primary-dark">
    <Header headerVariant={headerVariant}>
      <slot name="headerContent" />
    </Header>
    <main class="flex-grow">
      <slot name="mainContent" />
    </main>
    <Footer />
  </body>
</html>
