---
/*
 * Copyright (c) 2023 by MoonSphere Systems
 * Originally developed by Miłosz Gilga <https://miloszgilga.pl>
 */
import { environment } from '~/env/environment';
import { useTranslationsSSR } from '~/i18n/translations';
import { i18nSeoHref } from '~/i18n/url-parser';
import { getSafetyLocaleSSR } from '~/i18n/utils';
import Footer from '~/ax-ssr/components/Footer.astro';
import Header, { PageHeaderVariant } from '~/ax-ssr/components/Header.astro';
import axios from 'axios';

type AstroProps = {
  i18nPageId?: string;
  pageTitle?: string;
  headerVariant: PageHeaderVariant;
};

const { i18nPageId, pageTitle, headerVariant } = Astro.props as AstroProps;
const { locale, lang } = getSafetyLocaleSSR(Astro.url);
const t = useTranslationsSSR('msph');

const pageTitlePrefix = i18nPageId
  ? `${t(`landingPage.seo.${i18nPageId}Page.title`)} | `
  : pageTitle
  ? `${pageTitle} | `
  : '';

const {
  contentDistributorBaseUrl: cdnUrl,
  baseLandingUrl,
  contentDistributorBaseXHR: cdnXhr,
} = environment;

const faviconUrl = `${cdnUrl}/static/favicon/favicon-nobadge.png`;
const seoBannerUrl = `${cdnUrl}/static/seo/og-banner-light.png`;

let couldNotConnectWithCdn = false;
try {
  await axios.get(`${cdnXhr!}/static`);
} catch (err) {
  couldNotConnectWithCdn = true;
}
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <title>{`${pageTitlePrefix}MoonSphere`}</title>
    <link rel="preconnect" href={`${cdnUrl}/static`} />
    <link rel="icon" type="image/png" sizes="48x48" href={faviconUrl} />
    <meta name="keywords" content={t('webCommon.metaProperty.keywords')} />
    <meta
      name="description"
      content={t('webCommon.metaProperty.description')}
    />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta name="format-detection" content="telephone=no" />
    <!-- start OpenGraph:SEO -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={i18nSeoHref(baseLandingUrl!, lang)} />
    <meta property="og:title" content="MoonSphere" />
    <meta
      property="og:description"
      content={t('webCommon.metaProperty.description')}
    />
    <meta property="og:image" content={seoBannerUrl} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={i18nSeoHref(baseLandingUrl!, lang)} />
    <meta property="twitter:title" content="MoonSphere" />
    <meta
      property="twitter:description"
      content={t('webCommon.metaProperty.description')}
    />
    <meta property="twitter:image" content={seoBannerUrl} />
    <meta name="generator" content={Astro.generator} />
    <!-- end OpenGraph:SEO -->
  </head>
  <body
    class="flex flex-col min-h-screen font-medium bg-msph-light-100 text-msph-dark-900">
    {couldNotConnectWithCdn && 'Could not connect with CDN server'}
    {
      !couldNotConnectWithCdn && (
        <>
          <Header headerVariant={headerVariant}>
            <slot name="headerContent" />
          </Header>
          <main class="flex-grow">
            <slot name="mainContent" />
          </main>
          <Footer />
        </>
      )
    }
  </body>
</html>
